
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

 
  
body {
    background-image: url(images/bg/bg-banner.png);
    background-color: #070a29; 
}

.navbar {
  background-color: #070a29;
}
img {
  cursor: pointer;
}
.head-color {
  color: #27a3df
}
.banner-bg {
  background-color: #27a3df;
  border-radius: 2rem;

}
.text-gray {
  color:  #bbb;
}
.navbar-brand {
    font-size: 2rem;
}

.float-fixed {
    animation: move 10s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translateX(0%);

    }

    100% {
        transform: translateX(100%);

    }
    
}

.roll {
    animation:  rolling 0.9s ease-in-out infinite;
}

@keyframes rolling {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.float-fixed:hover , .roll:hover {
    animation-play-state: paused;
    cursor: pointer;
}


.service-card {
  background-color: transparent !important;
  border: 2px solid #27a3df;
  border-radius: 2rem;



}

.main-timeline-4 {
  position: relative;
}


.timeline-4 {
  position: relative;
  background-color: transparent !important;
  width: 50%;
  border: 2px solid #27a3df;
  border-radius: 2rem;
}

.timeline-4:hover, .box-shadow:hover{
  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;
}

.left-4 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.right-4 {
  left: 50%;
}

.left-4::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
}

.right-4::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
}


a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  

  .timeline-4 {
    width: 100%;
    margin-top: 10px;
  }


  .right-4 {
    left: 0%;
  }
}



